<h1 class="main-title">Jobs</h1>

<div id="jobs">
  <% @jobs.each do |job| %>

    <div class="card">
      <h2 class="title">
        <%= job.title %>
      </h2>
      <p class="description">
        <%= job.description %>
      </p>
      <p class="details">
        Company: <%= job.company %>
      </p>
      <p class="details">
        Location: <%= job.location %>
      </p>
      <p class="details">
        Application Date: <%= job.application_date %>
      </p>

      <p>
        <%= link_to "Show this job", job %>
      </p>
    </div>
  <% end %>




</div>

<%= link_to "New job", new_job_path %>
