<h1 class="main-title">Jobs</h1>

<div class="search-container">
  <%= form_tag(jobs_path, method: :get) do %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter keywords...", class: "search-input" %>
    <%= submit_tag "Search", class: "search-submit" %>
  <% end %>
</div>

<div id="jobs">

  <% if @jobs %>

    <% @jobs.each do |job| %>

      <div class="card">
        <h2 class="title">
          <%= job.title %>
        </h2>

        <h4>Created by:</h4>
        <p>
          <% user = User.find(job.user_id) %>
          <%= link_to user.name, controller: 'dashboard', action: 'show', id: user.id %>
        </p>

        <p class="description">
          <%= job.description %>
        </p>
        <p class="details">
          Company: <%= job.company %>
        </p>
        <p class="details">
          Location: <%= job.location %>
        </p>
        <p class="details">
          Application Date: <%= job.application_date %>
        </p>

        <p>
          <%= link_to "Show this job", job %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="links-center">
  <%= will_paginate @jobs %>
</div>
<div class="links-center">
  <%= link_to "New job", new_job_path %>
</div>
