<h1 class="main-title">Jobs</h1>

<div class="search-container">
  <%= form_tag(jobs_path, method: :get) do %>
    <%= text_field_tag :query, params[:query], placeholder: "Enter keywords...", class: "search-input" %>
    <%= submit_tag "Search", class: "search-submit" %>
  <% end %>
</div>

<div id="jobs">

  <% if @jobs %>

    <% @jobs.each do |job| %>

      <div class="card">
        <h2 class="title">
          <%= job.title %>
        </h2>

        <h4>Created by:</h4>
        <p>
          <% user = User.find(job.user_id) %>
          <%= link_to user.name, controller: 'dashboard', action: 'show', id: user.id %>
        </p>

        <p class="description">
          <%= job.description %>
        </p>
        <p class="details">
          Company: <%= job.company %>
        </p>
        <p class="details">
          Location: <%= job.location %>
        </p>
        <p class="details">
          Application Date: <%= job.application_date %>
        </p>

        <p>
          <%= link_to "Show this job", job %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="links-center">
  <%= will_paginate @jobs %>
</div>
<div class="links-center">
  <%= link_to "New job", new_job_path %>
</div>

<h2 class="text-center">Jobs from IT Jobs</h2>
<div id="jobs-not-center">

  <%  @it_jobs[:results].each do |it_job| %>
  <div class="card">
    <h2 class="title">
      <%= it_job[:title] %>
    </h2>

    <h4>Created by:</h4>
    <p>
      It Jobs
    </p>

    <p class="description">
      <%= sanitize(it_job[:body]) %>
    </p>
    <p class="details">
      Company: <%= it_job[:company][:name] %>
    </p>
    <p class="details">
      <% if it_job[:locations].present? %>
        <% it_job[:locations].each_with_index do |location, index| %>
          Location:
          <%= location[:name] %><br>
        <% end %>
      <% end %>
    </p>
    <p class="details">
      Application Date: <%= it_job[:publishedAt] %>
    </p>

    <p>
      <a href="https://www.itjobs.pt/">It Jobs</a>
    </p>
  </div>
  <% end %>
</div>
