<p style="color: green"><%= notice %></p>

<%= link_to "Sign in",  new_user_session_path %>

<br>

<h1>Jobs</h1>

<div id="jobs">
  <% @jobs.each do |job| %>
    <%= render job %>
    <p>
      <%= link_to "Show this job", job %>
    </p>
  <% end %>
</div>

<%= link_to "New job", new_job_path %>

<br>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
