<h1 class="show-title">Single Job Post</h1>

<div class="main-card-container">

  <div class="main-card">
    <h2 class="title"><%= @job.title %></h2>
    <p class="description"><%= @job.description %></p>
    <p class="company-location"><%= @job.company %> | <%= @job.location %></p>
    <p class="application-date"><%= @job.application_date %></p>
    <%= link_to "Edit this job", edit_job_path(@job), class: 'edit-job-link' %> | <%= link_to "Back to jobs", jobs_path, class: 'back-to-jobs-link' %>

    <% if current_user.present? %>

      <% if @job.user_id == current_user.id %>
        <br>
        <br>
        <div class="delete-job">
          <%= button_to "Destroy this job", @job, method: :delete %>
        </div>
      <% end %>

    <% end %>
  </div>

  <div class="main-card">
    <h2>Applications</h2>
    <% @job.applications.each do |application| %>

      <h4>
        Application <%= application.id %>
      </h4>

      <p>
        <strong>applicant information:</strong>
        <%= application.applicant_information %>
      </p>

      <p>
        <strong>resume text:</strong>
        <%= application.resume_text %>
      </p>

      <p>
        <strong>cover letter:</strong>
        <%= application.cover_letter %>
      </p>

      <p>
        <strong>application status:</strong>
        <%= application.application_status %>
      </p>
      <% if current_user.present? %>
        <% if @job.user_id == current_user.id %>
          <div class="application-status-buttons form-container">
            <%= button_to "Accept Application", job_application_path(@job, application), class: 'accept-button', method: :patch, params: { application: { application_status: 'Accepted' } } %>
            <%= button_to "Decline Application", job_application_path(@job, application), class: 'decline-button', method: :patch, params: { application: { application_status: 'Declined'} } %>
          </div>
        <% end %>
      <% end %>
      <p>
        <strong>submitted at:</strong>
        <%= application.submitted_at %>
      </p>
    <% end %>
  </div>

  <div class="main-card">
    <h2>Add a application:</h2>
    <%= form_with model: [ @job, @job.applications.build ] do |form| %>
      <p>
        <%= form.label :applicant_information %><br>
        <%= form.rich_text_area :applicant_information %>
      </p>
      <p>
        <%= form.label :resume_text %><br>
        <%= form.rich_text_area :resume_text %>
      </p>
      <p>
        <%= form.label :cover_letter %><br>
        <%= form.rich_text_area :cover_letter %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  </div>

<div>

