<p style="color: green"><%= notice %></p>

<%= render @job %>

<div>
  <%= link_to "Edit this job", edit_job_path(@job) %>
  |
  <%= link_to "Back to jobs", jobs_path %>

  <% if @job.user_id == current_user.id %>
    <br>
    <br>
    <%= button_to "Destroy this job", @job, method: :delete %>
  <% end %>


</div>
