<main>
	<div id="carouselExampleCaptions" class="carousel slide">
	  <div class="carousel-indicators">
	    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	  </div>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	    	<%= image_tag "img/tech_1.jpg", class: "d-block w-100 h-100vh", alt: "Tech 1" %>
	      <div class="carousel-caption d-none d-md-block mg-bottom-30px">
	        <h1>Welcome to Entry level tech jobs</h1>
	        <p>Sign up as a job seeker or job poster and apply to diferent job positions it's up to you how you use this job board.</p>
	        <div class="btn-container">
	        <%= link_to "See job Postings", jobs_path, class: 'center btn btn-primary' %>
	    	<%= link_to "Sign up", new_user_registration_path, class: 'center btn btn-outline-primary' %>
	    	</div>
	      </div>
	    </div>
	    <div class="carousel-item">
	      <%= image_tag "img/tech_2.jpg", class: "d-block w-100 h-100vh", alt: "Tech 2" %>
	      <div class="carousel-caption d-none d-md-block mg-bottom-30px">
	        <h1>Connect to users threw messages</h1>
	        <p>Create and send messages to users or contact directly threw email, it's your choice.</p>
	        <div class="btn-container">
	        <%= link_to "See job Postings", jobs_path, class: 'center btn btn-primary' %>
	    	<%= link_to "Sign up", new_user_registration_path, class: 'center btn btn-outline-primary' %>
	    	</div>
	      </div>
	    </div>
	    <div class="carousel-item">
	      <%= image_tag "img/tech_3.jpg", class: "d-block w-100 h-100vh", alt: "Tech 3" %>
	      <div class="carousel-caption d-none d-md-block mg-bottom-30px">
	        <h1>Create meaningfull connections</h1>
	        <p>Apply freely to job postings in order to encounter the perfect environment that fit's you.</p>
	        <div class="btn-container">
	        <%= link_to "See job Postings", jobs_path, class: 'center btn btn-primary' %>
	    	<%= link_to "Sign up", new_user_registration_path, class: 'center btn btn-outline-primary' %>
	    	</div>
	      </div>
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div>
</main>

<section>
	<h2 class="text-center">Job Postings</h2>

	<div id="jobs">

  <% if @jobs %>

    <% @jobs.each do |job| %>

      <div class="card">
        <h2 class="title">
          <%= job.title %>
        </h2>

        <h4>Created by:</h4>
        <p>
          <% user = User.find(job.user_id) %>
          <%= link_to user.name, controller: 'dashboard', action: 'show', id: user.id %>
        </p>

        <p class="description">
          <%= job.description %>
        </p>
        <p class="details">
          Company: <%= job.company %>
        </p>
        <p class="details">
          Location: <%= job.location %>
        </p>
        <p class="details">
          Application Date: <%= job.application_date %>
        </p>

        <p>
          <%= link_to "Show this job", job %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
<div class="links-center">
  <%= link_to "New job", new_job_path %>
</div>

</section>