<!DOCTYPE html>
<html>
  <head>
    <title>JobBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>

  <% if session[:user_id] %>
    <%= link_to "Sign out", session_path(session[:user_id]), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  <% end %>
</html>
